/*------------------------------------全局样式定义------------------------------------------*/
.m-h100 {
  min-height: 100%;
  box-sizing: border-box;
}
li {
  list-style: none;
}
/*图片自适应*/
.m-img-auto img {
  width: 100%;
  height: auto;
}
/*padding间距定义*/
.m-pad-24 {
  padding: 0.24rem;
}
.m-pad-24-b {
  padding: 0.2rem 0.24rem;
}
.m-pad-t24 {
  padding-top: 0.24rem;
}
.m-pad-b78 {
  padding-bottom: .78rem;
}
.m-pad-tb24 {
  padding: 0.24rem 0;
}
.m-pad-t10 {
  padding-top: .1rem;
}
/*margin间距定义*/
.m-mar-t0 {
  margin-top: 0 !important;
}
/*左右浮动定义*/
.m-pull-left {
  display: inline;
  float: left;
}
.m-pull-right {
  display: inline;
  float: right;
}
/*清除浮动定义*/
.m-clearfix:before,
.m-clearfix:after {
  content: " ";
  display: table;
}
.m-clearfix:after {
  clear: both;
}
/*字体大小定义*/
.m-18-text {
  font-size: .18rem !important;
}
.m-20-text {
  font-size: .20rem !important;
}
.m-22-text {
  font-size: .22rem !important;
}
.m-24-text {
  font-size: .24rem !important;
}
.m-25-text {
  font-size: .25rem !important;
}
.m-26-text {
  font-size: .26rem !important;
}
.m-28-text {
  font-size: .28rem !important;
}
.m-30-text {
  font-size: .30rem !important;
}
.m-36-text {
  font-size: .36rem !important;
}
/*字体颜色定义*/
.m-color-text {
  color: #d72323;
}
.m-gray-text {
  color: #999 !important;
}
.m-orange-text {
  color: #fc6800;
}
.m-red-text {
  color: #ff0000;
}
.m-color-normal {
  color: #333;
}
/*字体样式定义*/
.m-line-cross {
  text-decoration: line-through;
}
.m-right-text {
  text-align: right;
}
.m-center-text {
  text-align: center;
}
.m-left-text {
  text-align: left;
}
.m-normal-weight {
  font-weight: normal;
}
/*单行，多行文字文字溢出定义*/
.m-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}
.m-ellipsis-2l {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.m-ellipsis-3l {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/*bar样式定义*/
.m-bar {
  height: .78rem;
  background: #fff;
}
.m-bar_footer {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
}
.m-btn {
  background: #d72323;
  display: block;
  color: #fff;
  height: .78rem;
  line-height: .78rem;
  text-align: center;
}
/*------------------------------------常用页面样式定义------------------------------------------*/
/*注册页面样式*/
.m-login-form {
  overflow: hidden;
}
.m-login-form .icon {
  font-size: .3rem;
  padding-right: .2rem;
}
.m-login-form .icon-eye {
  color: #999;
}
.m-login-form .icon-eye.on {
  color: #d72323;
}
.m-login-form .weui-cell__ft .m-24-text {
  padding: 0.1rem 0 0.1rem 0.24rem;
}
/*商品列表页面样式*/
.m-goods-list > li {
  background: #fff;
  line-height: 1.16;
  padding: 0.24rem;
  box-sizing: border-box;
  overflow: hidden;
}
.m-goods-list > li > a .m-goods_info h3,
.m-goods-list-type3 > li .m-goods_info .m-goods-h3 h3 a {
  font-weight: normal;
  color: #333;
}
.m-goods-list > li > a .m-goods_info > .m-ellipsis.m-22-text {
  padding: 0.17rem 0 0.24rem;
}
.m-goods-list-type1 .m-goods_img {
  width: 2.49rem;
  height: 1.87rem;
  position: relative;
  font-size: 0;
}
.m-goods-list-type1 .m-goods_img img {
  width: 100%;
  height: 100%;
}
.m-goods-list-type1 .m-goods_info {
  width: 54%;
}
.m-goods-list-outStore .m-goods_info,
.m-goods-list-outStore .m-goods_info .m-orange-text,
.m-goods-list-outStore .m-goods_info h3,
.m-goods-list-type3 > li.m-goods-list-outStore .m-goods_info .m-goods-h3 h3 a {
  color: #b9b9b9 !important;
}
.m-goods-list-outStore .m-goods_img .m-goods_img-tag {
  position: absolute;
  background: url("../assets/images/tag-out.png") no-repeat;
  top: .14rem;
  left: -0.04rem;
  width: .81rem;
  height: .42rem;
  background-size: 100% 100%;
}
.m-goods-list-outStore .m-goods_img .m-goods_img-tips {
  position: absolute;
  line-height: 1.8;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
}
.m-goods-list-type2 {
  background: #fff;
  overflow: hidden;
}
.m-goods-list-type2 > li {
  float: left;
  width: 33.3333%;
  padding: 0;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.m-goods-list-type2 > li:nth-child(3n) {
  border-right: 0;
}
.m-goods-list-type2 > li > a {
  margin: .2rem;
  display: block;
  padding-bottom: .3rem;
}
.m-goods-list-type2 .m-goods_img {
  position: relative;
  font-size: 0;
  height: 2.18rem;
}
.m-goods-list-type2 .m-goods_img img,
.m-goods-list-type3 .m-goods_img img {
  height: 100%;
}
.m-goods-list-type2 > li > a .m-goods_info .m-goods-h3 {
  height: .56rem;
  margin: .14rem 0;
  overflow: hidden;
}
.m-goods-list-type2 .m-goods_info-price .m-line-cross {
  line-height: .25rem;
}
.m-goods-list-type3 {
  overflow: hidden;
}
.m-goods-list-type3 > li {
  background: transparent;
  float: left;
  width: 50%;
  padding: 0 .07rem .07rem 0;
  box-sizing: border-box;
}
.m-goods-list-type3 > li:nth-child(2n) {
  padding-right: 0;
}
.m-goods-list-type3 > li .m-goods-list_box {
  background: #fff;
  padding: 0.24rem;
}
.m-goods-list-type3 .m-goods_img {
  position: relative;
  font-size: 0;
  height: 2.84rem;
}
.m-goods-list-type3 > li .m-goods_info .m-goods-h3 {
  height: .56rem;
  margin: .24rem 0 .2rem 0;
  overflow: hidden;
}
.m-goods-list-type3 > li .m-goods_info-price {
  overflow: hidden;
}
.m-goods-list-type3 > li .m-goods_info-price .m-line-cross {
  display: block;
}
.m-goods-list-type3 > li .m-goods_info-price .icon-cart {
  width: .58rem;
  height: .58rem;
  overflow: hidden;
  border-radius: 50%;
  background: #d72323;
  color: #fff;
  display: block;
  text-align: center;
  font-size: .32rem;
  line-height: .58rem;
}
.m-goods-list-type3 > li.m-goods-list-outStore .m-goods_info-price .icon-cart {
  background: #dfdfdf;
}
.m-goods_pop {
  background: #fff;
  padding: .24rem;
}
.m-goods_pop .m-goods_pop_head {
  position: relative;
  padding: 0 .77rem .24rem 1.96rem;
}
.m-goods_pop .m-goods_pop_img {
  width: 1.78rem;
  font-size: 0;
  line-height: 1;
  height: 1.78rem;
  position: absolute;
  left: 0;
  top: -0.62rem;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
}
.m-goods_pop .m-goods_pop_img img {
  width: 100%;
  height: 100%;
}
.m-goods_pop .m-goods_pop_head .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: .6rem;
  height: .6rem;
  text-align: right;
}
.m-goods_pop .m-goods_pop_spec .weui-cell,
.m-goods_pop_spec_box .weui-cell {
  padding: 0;
}
.m-goods_pop .m-goods_pop_spec h3 {
  padding-bottom: .2rem;
}
.m-goods_pop_spec_check {
  height: .38rem;
  position: relative;
}
.m-goods_pop_spec-txt {
  padding-left: .2rem;
}
.m-goods_pop_spec_box {
  max-height: 5rem;
  overflow: scroll;
}
/*购物车页面样式*/
.m-cart > li {
  background: #fff;
  overflow: hidden;
  padding: 0.24rem;
}
.m-cart_check {
  position: relative;
  padding-top: .46rem;
}
.m-cart_img {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  margin-left: .1rem;
  font-size: 0;
}
.m-cart_img img {
  width: 100%;
  height: 100%;
}
.m-cart_info {
  width: 61%;
}
.m-cart_info_head {
  overflow: hidden;
}
.m-cart_info_head > h3 {
  font-weight: normal;
  width: 60%;
  line-height: 1.2;
}
.m-cart_info_head > strong {
  width: 40%;
  padding-left: .2rem;
  text-align: right;
  box-sizing: border-box;
}
.m-cart_info > .m-ellipsis.m-18-text {
  padding: .1rem 0;
}
.m-cart_info_bottom {
  overflow: hidden;
}
.m-cart_info_bottom .weui-cell {
  padding: 0;
}
.m-cart_info_bottom .m-color-text {
  padding-top: .1rem;
}
.m-cart-out-store .m-cart_info_head,
.m-cart-out-store .m-cart_info_head > strong,
.m-cart-out-store .m-ellipsis.m-18-text,
.m-cart-out-store .m-number-input,
.m-cart-type1 .m-cart-out-store .m-cart_spec strong {
  color: #b9b9b9 !important;
}
.m-cart-out-store .m-cart_img img {
  opacity: .3;
}
.m-cart-out-store .m-cart_img .m-cart_tips {
  position: absolute;
  padding: 0 .1rem;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 1.8;
}
.m-bar_check {
  margin: .2rem 0 0 .24rem;
}
.m-bar_check .magic-checkbox + label:after {
  left: .13rem;
}
.m-bar_footer a.m-pull-left {
  padding: .2rem 0 0 .2rem;
  color: #333;
}
.m-bar_footer .m-right-text.m-pull-right {
  line-height: 1.2;
  padding-top: .1rem;
}
.m-bar_footer a.m-26-text {
  height: .78rem;
  line-height: .78rem;
  background: #d72323;
  color: #fff;
  padding: 0 .58rem;
  margin-left: .2rem;
  display: block;
}
.m-cart-type1 .m-cart_info_head > h3 {
  width: 100%;
}
.m-cart-type1 .m-cart_spec .m-ellipsis.m-18-text {
  padding: .1rem 0;
}
/*订单列表页面样式*/
.m-book-list > li {
  background: #fff;
  margin-top: .2rem;
}
.m-book-list .m-flexbox {
  padding: .24rem;
  box-sizing: border-box;
}
.m-book-list .m-flexbox-item > img {
  width: 1.28rem;
  height: 1.28rem;
}
.m-book-list_footer {
  overflow: hidden;
}
.m-book-list_footer .weui-btn + .weui-btn {
  margin-top: 0;
  margin-left: .1rem;
}
.m-book-list_footer > .m-pull-left {
  line-height: .52rem;
}
/*地址列表页面样式*/
.m-address-list > li {
  background: #fff;
  position: relative;
  margin-bottom: .2rem;
  overflow: hidden;
  padding: .24rem;
}
.m-address-list .m-check {
  position: relative;
}
.m-address-list .m-address-list_info {
  width: 72%;
  margin-left: .64rem;
}
.m-address-list .m-pull-right .icon-edit {
  font-size: .3rem;
  padding-right: .1rem;
}
.m-address_tag-default {
  display: none;
  position: absolute;
  right: -0.43rem;
  bottom: -0.18rem;
  background: #ffba00;
  color: #fff;
  font-size: .18rem;
  padding: .08rem .4rem .2rem .4rem;
  height: .4rem;
  transform: rotate(-45deg) scale(0.85);
}
@media screen and (min-width: 320px) and (max-width: 340px) {
  .m-address_tag-default {
    bottom: -0.13rem;
  }
}
.m-address-default .m-address_tag-default {
  display: block;
}
/*------------------------------------------生意加DEMO样式------------------------------------------*/
/*用户首页样式*/
.syj-user_head {
  background: url("../assets/images/bg-user.png") no-repeat #fff;
  background-size: 100% auto;
  min-height: 2.68rem;
}
.syj-user_head .weui-panel {
  background: transparent;
  margin-top: -0.2rem;
}
.syj-user_head .weui-panel:after,
.syj-user_head .weui-panel:before {
  display: none;
}
.syj-user_head .weui-media-box_appmsg .weui-media-box__hd {
  width: 1.28rem;
  height: 1.28rem;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #fff;
}
.syj-user_head .weui-media-box__title {
  color: #ffc450;
}
.syj-user_head .weui-media-box__desc {
  color: #fff;
}
.syj-user_head .icon-setting {
  font-size: .4rem;
  color: #fff;
  padding: .2rem .24rem 0 0;
}
.syj-user_list .m-mar-t0 .weui-cells {
  margin-top: 0;
}
.syj-user_list .m-mar-t0 .weui-cells:before {
  display: none;
}
.syj-user_list .weui-cell:before {
  left: 0;
}
.syj-user_list .weui-cell__hd .icon {
  vertical-align: middle;
  width: .42rem;
  border-radius: 100%;
  display: block;
  overflow: hidden;
  margin-right: .1rem;
  height: .42rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: .3rem;
}
.bg-purple {
  background: #caa4e7;
}
.bg-light-blue {
  background: #4ec6f5;
}
.bg-blue {
  background: #4ea4f5;
}
.bg-pink {
  background: #ff8192;
}
.bg-red {
  background: #f28a81;
}
.syj-user {
  padding-bottom: .82rem;
}
.syj-footer.weui-tabbar {
  background: #fff;
}
.syj-footer .syj-logo {
  background: url("../assets/images/home.png") no-repeat;
  display: block;
  background-size: 100% 100%;
  width: .74rem;
  height: .31rem;
  margin-top: 1px;
}
.weui-bar__item_on .syj-logo {
  background: url("../assets/images/home-on.png") no-repeat;
  background-size: 100% 100%;
}
/*消息首页样式*/
.syj-message,
.syj-order,
.syj-goods_detail {
  padding: .78rem  0 .82rem;
}
.syj-header.mue-header {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.syj-header.mue-header .icon-contact {
  font-size: .4rem;
}
.message-filter {
  background: #fff;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  height: .75rem;
  line-height: .75rem;
  padding: 0 .24rem;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.2);
}
.message-filter .m-gray-text {
  width: 68%;
  padding: 0 .1rem;
  box-sizing: border-box;
}
.message-filter .m-pull-right.icon-filter {
  font-size: .36rem;
  border-left: 1px solid #e5e5e5;
  color: #666;
  padding-left: .24rem;
  height: .48rem;
  line-height: .48rem;
  margin-top: .14rem;
}
.syj-message_top .weui-cells {
  margin-top: .11rem;
}
.syj-message_top .weui-cell .weui-cell__hd {
  position: relative;
  line-height: 1;
  width: .8rem;
  height: .8rem;
  margin-right: .2rem;
}
.syj-message_top .weui-cell .weui-cell__hd img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}
.syj-message_top .weui-cell .weui-cell__hd .icon-notice {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #03b5ff;
  border-radius: .18rem;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 2;
  font-size: .4rem;
}
.syj-message_top .weui-cell .weui-cell__hd img.syj-message_logo-company {
  border-radius: .18rem;
}
.syj-message_top .weui-cell .weui-cell__hd .m-reddot:after {
  width: .14rem;
  height: .14rem;
  border: 1px solid #fff;
}
.syj-message_top .weui-cell .weui-cell__hd .m-reddot {
  position: absolute;
  top: -0.16rem;
  right: -2px;
}
.message-list {
  padding: .41rem .24rem 0 .24rem;
  overflow: hidden;
  box-sizing: border-box;
}
.message-wrap {
  position: relative;
  background: #fff;
  padding: .94rem .2rem .2rem;
  border: 1px solid #e5e5e5;
  border-radius: .08rem;
  margin-bottom: .24rem;
  overflow: hidden;
}
.message-wrap.message-has-cover {
  padding: 0;
}
.message-list .message-list-item:last-child {
  margin-bottom: 0;
}
.message-has-cover image {
  width: 100%;
  max-height: 4.16rem;
}
.new-message {
  position: absolute;
  top: 0;
  right: 0;
  width: .84rem;
  height: .84rem;
  background: url(https://myunonline-bizjia2.oss-cn-shanghai.aliyuncs.com/syj-lite-app/new-tag.png) no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}
.flexbox {
  display: flex;
  display: -webkit-flex;
  box-align: center;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
}
.flexbox-normal {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.message-has-cover .message-box {
  position: relative;
  z-index: 1;
  max-height: 4.16rem;
}
.message-has-cover .message-content {
  background: #fff;
  color: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .18rem;
  box-sizing: border-box;
}
.message-content .message-text {
  max-height: .6rem;
  line-height: .3rem;
}
.message-content.flexbox {
  justify-content: flex-start;
  -webkit-box-align: flex-start;
  text-align: left;
}
.message-content.flexbox .message-text {
  flex: 1;
}
.message-content.flexbox .message-time {
  padding-left: .08rem;
}
.message-wrap .message-content.flexbox .message-time {
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: .04rem .06rem;
  border-radius: 4px;
}
.message-lis-item {
  margin-bottom: .41rem;
}
.message-lis-item .message-time {
  padding: .02rem .27rem;
  border-radius: .2rem;
  display: inline-block;
  background: rgba(86, 86, 86, 0.8);
  color: #fff;
  margin-bottom: .12rem;
}
.message-tag {
  position: absolute;
  z-index: 2;
  top: .2rem;
  height: .43rem;
  left: 0;
  overflow: hidden;
}
.message-tag .tag-text {
  float: left;
  z-index: 2;
  position: relative;
  height: .43rem;
  line-height: .43rem;
  padding: 0 0 0 .17rem;
  color: #fff;
}
.message-tag .icon-rightTag {
  float: left;
  z-index: 1;
  position: relative;
  margin-left: -0.17rem;
  height: .47rem;
  font-size: .47rem;
  line-height: .47rem;
}
.yellow-tag .tag-text {
  background: #f9bb34;
}
.yellow-tag .icon {
  color: #f9bb34;
}
.purple-tag .tag-text {
  background: #bf8cf1;
}
.purple-tag .icon {
  color: #bf8cf1;
}
/*订货首页*/
.syj-order,
.syj-goods_detail {
  background: #fff;
}
.syj-header.mue-header .icon-cart {
  font-size: .36rem;
  position: relative;
}
.syj-header.mue-header .icon-cart .m-badge {
  background-color: #fff;
  color: #f74c31;
  top: -0.14rem;
  position: absolute;
  right: -0.12rem;
}
.syj-order_head {
  height: 2.36rem;
  background: -webkit-linear-gradient(#d72323, #d95e21);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#d72323, #d95e21);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#d72323, #d95e21);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#d72323, #d95e21);
  /* 标准的语法 */
  margin: 0;
  border: 0;
  color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(215, 35, 35, 0.42);
  box-shadow: 0 3px 10px rgba(215, 35, 35, 0.42);
  padding: .24rem;
  box-sizing: border-box;
}
.syj-order_head .syj-order_head_img {
  width: 1.19rem;
  height: 1.19rem;
  margin-right: .24rem;
  border-radius: .06rem;
  overflow: hidden;
  line-height: 1;
  font-size: 0;
}
.syj-order_head .syj-order_head_info {
  flex: 1;
}
.syj-order_head .syj-order_head_icon {
  color: #fff;
  text-align: center;
  margin-left: .2rem;
}
.syj-order_head .syj-order_head_icon .icon {
  font-size: .5rem;
  display: block;
  line-height: 1.2;
}
.syj-search {
  -webkit-box-shadow: 0 3px 10px rgba(216, 82, 34, 0.22);
  box-shadow: 0 3px 10px rgba(216, 82, 34, 0.22);
  background: #fff;
  margin: -0.43rem 0.24rem 0 0.24rem;
  border-radius: .06rem;
  height: .86rem;
  padding: 0 .24rem;
}
.syj-search_input {
  flex: 1;
}
.syj-search_cat {
  color: #333;
  line-height: 1;
  padding-left: .24rem;
  border-left: 1px solid #e5e5e5;
}
.syj-search_cat .icon {
  font-size: .36rem;
  line-height: 1;
  display: block;
}
.syj-search_input .icon-search {
  color: #999;
  font-size: .32rem;
}
.syj-search_input input {
  font-size: .26rem;
  padding: .1rem 0;
  width: 84%;
  outline: none;
}
.filter {
  padding: .34rem .24rem .06rem .24rem;
  box-sizing: border-box;
  width: 100%;
  border-bottom: .16rem solid #f1f5f7;
}
.filter-item {
  display: inline-block;
  line-height: .47rem;
  width: 1.3rem;
  border-radius: .23rem;
  border: 1px solid #ccc;
  text-align: center;
  margin-right: .1rem;
  margin-bottom: .15rem;
  position: relative;
  box-sizing: border-box;
}
.filter .filter-item:nth-child(4n) {
  margin-right: 0;
}
.filter-item .icon {
  position: absolute;
  font-size: .29rem;
  right: -0.1rem;
  top: -0.1rem;
  z-index: 2;
  display: none;
  background: #fff;
  width: .27rem;
  height: .27rem;
  line-height: .27rem;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}
.filter-item.checked {
  color: #d72323;
  border-color: #d72323;
}
.filter-item.checked .icon {
  display: block;
}
.syj-order_list > li {
  padding: .24rem;
}
.syj-order_list > li .syj-order_list_img {
  width: 2.22rem;
  height: 2.22rem;
  border-radius: 6px;
  overflow: hidden;
  line-height: 1;
  font-size: 0;
  margin-right: .2rem;
}
.syj-order_list > li .syj-order_list_img img {
  width: 100%;
  height: 100%;
}
.syj-order_list_info {
  flex: 1;
}
.syj-order_list_btn button {
  font-size: .24rem;
  padding: 0 .2rem;
  box-sizing: border-box;
  margin: 0 !important;
}
.syj-order_list_btn button .icon {
  font-size: .3rem;
}
.syj-order_list_btn button.weui-btn_default {
  background: #fff;
  color: #3ed09b;
}
.syj-order_list_btn button.weui-btn_default:after {
  border-color: #3ed09b;
}
.syj-order_list_btn button.weui-btn_primary {
  background: #ffbf37;
}
.syj-order_list_info .m-red-text {
  padding: .2rem 0 .36rem 0;
}
/*商品详情*/
.syj-goods_detail .m-bar_footer .m-pull-right {
  width: 50%;
}
.syj-goods_detail .m-bar_footer a.m-26-text {
  background: #d72323;
  padding: 0;
  text-align: center;
  margin: 0;
}
.syj-goods_detail .m-bar_footer .m-pull-left {
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin-top: .16rem;
}
.syj-goods_detail .m-bar_footer .m-pull-left:last-child .icon {
  display: inline-block;
  width: 100%;
}
.syj-goods_detail .m-bar_footer .m-pull-left .icon {
  font-size: .32rem;
}
.syj-goods_detail .m-slider > .m-indicator > a > .m-icon-dot.active {
  background-color: #d72323;
}
.syj-goods_detail .m-slider > .m-indicator > a > .m-icon-dot {
  width: .14rem;
  height: .14rem;
  border-radius: 100%;
}
.syj-goods_detail_top .weui-cells {
  margin-top: 0;
  border-bottom: .15rem solid #efeff4;
}
.syj-goods_detail_top .m-red-text {
  padding: 0 .24rem .2rem;
}
.syj-goods_detail_spec .weui-cells__title {
  margin-top: .2rem;
}
.syj-goods_detail_spec .m-cell-primary {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  flex: 0;
  min-width: 1.14rem;
  padding-right: .2rem;
}
.syj-goods_detail_spec .weui-cell__ft {
  flex: 1;
  text-align: left;
}
.syj-goods_detail_content p {
  margin-bottom: .24rem;
}
/*-------------------------------------------第三方checkbox样式引入-----------------------------------------*/
@keyframes hover-color {
  from {
    border-color: #c0c0c0;
  }
  to {
    border-color: #d72323;
  }
}
.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none;
}
.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed;
}
.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: .48rem;
  cursor: pointer;
  vertical-align: middle;
}
.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.magic-radio + label:before,
.magic-checkbox + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: .38rem;
  height: .38rem;
  content: '';
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
}
.magic-radio + label:after,
.magic-checkbox + label:after {
  position: absolute;
  display: none;
  content: '';
}
.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4;
}
.magic-radio[disabled] + label:hover,
.magic-radio[disabled] + label:before,
.magic-radio[disabled] + label:after,
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {
  cursor: not-allowed;
}
.magic-radio[disabled] + label:hover:before,
.magic-checkbox[disabled] + label:hover:before {
  border: 1px solid #e4e4e4;
  animation-name: none;
}
.magic-radio[disabled] + label:before,
.magic-checkbox[disabled] + label:before {
  border-color: #e4e4e4;
}
.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none;
}
.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block;
}
.magic-radio + label:before {
  border-radius: 50%;
}
.magic-radio + label:after {
  top: .11rem;
  left: .11rem;
  width: .16rem;
  height: .16rem;
  border-radius: 50%;
  background: #d72323;
}
@media screen and (min-width: 320px) and (max-width: 360px) {
  .magic-radio + label:after {
    top: .1rem;
    left: .1rem;
  }
}
.magic-radio:checked + label:before {
  border: 1px solid #d72323;
}
.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9;
}
.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9;
}
.magic-checkbox + label:before {
  border-radius: 50%;
}
.magic-checkbox.magic-checkbox-square + label:before {
  border-radius: 4px;
}
.magic-checkbox + label:after {
  top: .08rem;
  left: .12rem;
  box-sizing: border-box;
  width: .12rem;
  height: .18rem;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
}
.magic-checkbox:checked + label:before {
  border: #d72323;
  background: #d72323;
}
.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9;
}
/*iconfont*/
@font-face {
  font-family: 'iconfont';
  /* project id 329360 */
  src: url('//at.alicdn.com/t/font_75ogswmb3px2yb9.eot');
  src: url('//at.alicdn.com/t/font_75ogswmb3px2yb9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_75ogswmb3px2yb9.woff') format('woff'), url('//at.alicdn.com/t/font_75ogswmb3px2yb9.ttf') format('truetype'), url('//at.alicdn.com/t/font_75ogswmb3px2yb9.svg#iconfont') format('svg');
}
.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user1:before {
  content: "\e655";
}
.icon-setting:before {
  content: "\e60f";
}
.icon-cat:before {
  content: "\e60a";
}
.icon-notice:before {
  content: "\e860";
}
.icon-information:before {
  content: "\e75a";
}
.icon-quit:before {
  content: "\e605";
}
.icon-mobile:before {
  content: "\e600";
}
.icon-lock:before {
  content: "\e601";
}
.icon-idcode:before {
  content: "\e602";
}
.icon-home:before {
  content: "\e60b";
}
.icon-cart:before {
  content: "\e60c";
}
.icon-address:before {
  content: "\e618";
}
.icon-edit:before {
  content: "\e616";
}
.icon-message:before {
  content: "\e617";
}
.icon-message2:before {
  content: "\e606";
}
.icon-switch1:before {
  content: "\e642";
}
.icon-close:before {
  content: "\e64c";
}
.icon-search:before {
  content: "\e609";
}
.icon-my:before {
  content: "\e68f";
}
.icon-my-on:before {
  content: "\e690";
}
.icon-mleft:before {
  content: "\e60d";
}
.icon-mright:before {
  content: "\e69a";
}
.icon-account:before {
  content: "\e629";
}
.icon-eye:before {
  content: "\e603";
}
.icon-call:before {
  content: "\e607";
}
.icon-cart1:before {
  content: "\e608";
}
.icon-contact:before {
  content: "\e62a";
}
.icon-filter:before {
  content: "\e614";
}
.icon-switch:before {
  content: "\e604";
}
.icon-rightTag:before {
  content: "\e758";
}
.icon-gouxuan:before {
  content: "\e75e";
}
.icon-tag:before {
  content: "\e760";
}
.icon-message-on:before {
  content: "\e75f";
}
